<div class="row g-0">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-10 offset-lg-1">
<form id="login" class="p-5" [formGroup]="login">
    

        <div>Login</div>
        
        <mat-error *ngIf="login.hasError('backend')">{{login.errors.backend}}</mat-error>

        <mat-form-field style="width: 100%"  class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="" value="">
           <mat-error *ngIf="login.controls.email.hasError('required')">Email is invalid</mat-error>
           <mat-error *ngIf="login.controls.email.hasError('invalid')">Email is required</mat-error>
          </mat-form-field>
        
          <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input  formControlName="password" [type]="inputType" matInput placeholder="" value="">
            <mat-error *ngIf="login.controls.password.hasError('required')">Password is invalid</mat-error>
            <button color="warn"  (click)="clickVisibility()" matSuffix mat-icon-button>
              <mat-icon>{{inputType == 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </mat-form-field>


         <div>
          <a routerLink="/register" style="margin-right: 60px;" href="">Create account</a> 
          <a  routerLink="/forgot" href="">Forgot password</a>
         </div>

         <br>
          <button [disabled]="login.invalid" (click)="clicklogin()" mat-raised-button color="primary">Sign in</button>

          <br>
          <button (click)="clicklogingoogle()" mat-raised-button color="primary">Login with Google</button>
     
         
        
        
       
</form> 
</div>
</div>