<div style="display: flex; flex-direction: column; height: 100%; width: 100%;">
    <app-top [fxShow]="!areBarsHidden" [mobil]="isMobile" [bara]="drawer"></app-top>
    <mat-drawer-container fxFlex class="example-container" autosize>
      
        <mat-drawer  style="min-width: 20%" [fxShow]="!areBarsHidden" [opened]="false" #drawer class="example-sidenav" [mode]="isMobile ? 'over' : 'side'">

          <app-sidebar></app-sidebar>
          
        </mat-drawer>
      
        <mat-drawer-content fxFlex>
                <router-outlet></router-outlet>
        </mat-drawer-content>
      
      </mat-drawer-container>
    <app-bottom></app-bottom>

</div>