
<mat-tab-group  mat-align-tabs="center">
    <mat-tab label="Training"> 



        <div class="table-responsive p-2" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        
    
    
    
    
    
    
    </mat-tab>
    <mat-tab label="Recovery"> Recovery </mat-tab>
    
  </mat-tab-group>