
<div class="row g-0">
  <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
<form id="register" class="p-5" [formGroup]="register">
    

        <div>Create account</div>

        <mat-error *ngIf="register.hasError('backend')">{{register.errors.backend}}</mat-error>
    
        
        <mat-form-field style="width: 100%;"  class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="" value="">
           <mat-error *ngIf="register.controls.email.hasError('required')">Email is invalid</mat-error>
           <mat-error  *ngIf="register.controls.email.hasError('invalid')">Email is required</mat-error>
          </mat-form-field>
        
          <mat-form-field style="width: 100%;"   class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="password" [type]="inputType" matInput placeholder="" value="">
            <mat-error *ngIf="register.controls.password.hasError('required')">Password is invalid</mat-error>
            <button color="warn"  (click)="clickVisibility()" matSuffix mat-icon-button>
              <mat-icon>{{inputType == 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </mat-form-field>
        
          <button [disabled]="register.invalid" (click)="clickregister()" mat-raised-button color="primary">Register</button>
          <br>
          <a routerLink="/login"  href="">or Login</a>
        
        
</form> 