<div class="row g-0">

    <div class="col-12 col-lg-3 p-2 ">
    <mat-accordion *ngFor="let c of category">
        <mat-expansion-panel (click)="clickcategory(c, $event)">
          <mat-expansion-panel-header>
            <mat-panel-title >
              <span *ngIf="c != selectedCategory">{{c.name}}</span>
              <b *ngIf="c == selectedCategory">{{c.name}}</b>
            </mat-panel-title>
            <mat-panel-description>
        
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{c.text}}</p>
        </mat-expansion-panel>
        <br>
      </mat-accordion>
</div>


<div class="col-12  col-lg-9 p-2">

   <div class="row g-0">


  <div *ngFor="let r of recovery" class="col-12 col-sm-6 col-lg-4 p-2">
    <mat-card  class="example-card">
        <mat-card-title-group>
          <mat-card-title style="cursor: pointer;" routerLink="/view/recovery/{{r.id}}">{{r.name}}</mat-card-title>
        </mat-card-title-group>
        <mat-card-subtitle>{{r.text}}</mat-card-subtitle>
        <mat-card-content>
            <video *ngIf="r.file && getExtension(r.file) == 'mp4'" controls style="width: 100%;" [src]="r.file"></video>
            <img [src]="r.file" *ngIf="getExtension(r.file) == 'jpg' || getExtension(r.file) == 'png'" style="width: 100%" />
            <a [href]="r.file" *ngIf="getExtension(r.file) == 'pdf'">Download PDF</a>
        </mat-card-content>
      </mat-card>
  </div>


  
   </div>


</div>

</div>

